<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" > 
 <suite name="My test suite"> 
  <test name="First test"> 
    <classes> 
    	
       <class name="mojong.TestMoJo" /> 
       <class name="mojong.TestDefaultMoJoService" /> 
       <class name="mojong.TestDefaultMoJoService2" /> 
       <class name="mojong.TestDefaultMoJoService3" /> 
       <class name="mojong.TestDefaultMoJoService4" /> 
       <class name="mojong.TestDefaultMoJoService5" /> 
       <class name="mojong.TestDefaultMoJoService6" /> 
       <class name="mojong.TestDefaultMoJoService7" /> 
       
       <class name="mojong.TestDefaultPaiHeService" /> 
       <class name="mojong.TestDefaultPaiHeService2" /> 
       
       <class name="mojong.TestDefaultScoreService" /> 
       <class name="mojong.TestDefaultScoreService2" /> 
       <class name="mojong.TestDefaultScoreService3" /> 
       
    </classes> 
  </test> 
 </suite>