<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="ALL TEST">
	<test name="all test">
		<groups>
			<run>
				<!-- <exclude name="score" /> -->
				<!-- <include name="score"></include> -->
			</run>
		</groups>
		<packages>
			<package name="mojong" />
		</packages>
		<classes>
		</classes>
	</test>
</suite>